<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ImeraServicioPortBinding" maxReceivedMessageSize="10485760">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="8192"
								  maxArrayLength="16384"
								  maxBytesPerRead="4096"
								  maxNameTableCharCount="16384" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://54.91.83.43:8080/ImeraServidor/ImeraServicio"
                binding="basicHttpBinding" bindingConfiguration="ImeraServicioPortBinding"
                contract="ImeraServicio.ImeraServicio" name="ImeraServicioPort" />
		</client>
	</system.serviceModel>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="PaginaPrincipal.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>